<!-- Next Steps -->
<div class="terminal-title">
	<h5>The</h5>
	<h1>Celestine</h1>
	<h2>Insights</h2>
</div>
<!-- <input type="hidden" #selection> -->

<div class="card-container">
	<button mat-stroked-button (click)="back()" tabindex="0">
		<mat-icon aria-hidden="false" aria-label="visibility icon">arrow_back</mat-icon>
		<!-- <span>1</span> -->
	</button>

	<button mat-stroked-button class="card-small" tabindex="1">
		<mat-icon aria-hidden="false" aria-label="visibility icon">visibility</mat-icon>
		<span style="padding-left: 10px;">{{selection}}</span>
	</button>

	<button mat-stroked-button class="card-small" (click)="next()" tabindex="2">
		<mat-icon aria-hidden="false" aria-label="visibility icon">arrow_forward</mat-icon>
	</button>
	<!-- <button class="card card-small" (click)="selection = 9" tabindex="0">
		<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
		</svg>
		<span>9</span>
	</button>  -->
</div>

<!-- Terminal -->
<div class="terminal" [ngSwitch]="selection" (mouseover)="play=false" (mouseout)="play=true">
	<!-- <pre [@visibility]="visibility" *ngSwitchDefault>
		<h3>1</h3>
		We are discovering again that we live in a deeply mysterious world, full of sudden coincidences and synchronistic encounters that seem destined.	
	</pre> -->
	<pre *ngSwitchCase="1">
			<h3>1</h3>
			We are discovering again that we live in a deeply mysterious world, full of sudden coincidences and synchronistic encounters that seem destined.	
	</pre>
	<pre *ngSwitchCase="2">
			<h3>2</h3>
			As more of us awaken to this mystery, we will create a completely new worldview - redefining the universe as energetic and sacred.	
	</pre>
	<pre *ngSwitchCase="3">
			<h3>3</h3>
			We will discover that everything around us, all matter, consists of and stems from a divine energy that we are beginning to see and understand.
		</pre>
	<pre *ngSwitchCase="4">
			<h3>4</h3>
			From this perspective, we can see that humans have always felt insecure and disconnected from this sacred source, and have tried to take energy by dominating each other. This struggle is responsible for all human conflict.
		</pre>
	<pre *ngSwitchCase="5">
			<h3>5</h3>
			The only solution is to cultivate a personal reconnection with the divine, a mystical transformation that fills us with unlimited energy and love, extends our perceptions of beauty, and lifts us into a Higher-Self Awareness.
		</pre>
	<pre *ngSwitchCase="6">
			<h3>6</h3>
			In this awareness, we can release our own pattern of controlling, and discover a specific truth, a mission we are here to share that helps evolve humanity toward this new level of reality.
		</pre>
	<pre *ngSwitchCase="7">
			<h3>7</h3>
			In pursuit of this mission, we can discover an inner intuition that shows us where to go and what to do, and if we make only positive interpretations, brings a flow of coincidences that opens the doors for our mission to unfold. 
		</pre>
	<pre *ngSwitchCase="8">
			<h3>8</h3>
			When enough of us enter this evolutionary flow, always giving energy to the higher-self of everyone we meet, we will build a new culture where our bodies evolve to ever higher levels of energy and perception. 
		</pre>
	<pre *ngSwitchCase="9">
			<h3>9</h3>
			In this way, we participate in the long journey of evolution from the Big Bang to life's ultimate goal: to energize our bodies, generation by generation until we walk into a heaven we can finally see.
		</pre>
</div>